*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    background: #4b4b66;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
}
.navbar ul, li a{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    color: rgb(241, 233, 233);
    font-size: 18pt;
}
.navbar ul li:hover a{
    border-radius: 2px;
    transition: 0.2s;
    margin-bottom: 5px;
    border-bottom: 5px solid rgb(255, 255, 255);
}
body{
    background:  #343444;
    overflow: scroll;
}
main{
   position: relative;
   right: 10px;
}
#sobre{
    height: 100vh;
}
#sobre span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sobre span span{
    font-size: 16pt;

}
.capa{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}
.capa .imgs{
    position: relative;
    top: 100px;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 200px;
    gap: 20px;
}
.capa .imgs img{
    width: 80px;
    height: 80px;
   
    border-radius: 10px;
}
.capa span{
    position: relative;
    top: 100px;
    left: 10px;
    color: white;
}
#projeto{
    display: flex;
    height: 100vh;
    background:  #404053;
    width: 100%;
    padding:  0 10px;
}
#projeto  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    border: 1px solid;
    flex-wrap: wrap;
    gap: 50px;
    padding: 10px;
}
.box .projeto  {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 30% ;
    height: 30%;
    border: 1px solid black ;
}
.projeto a img{
    width: 100%;
    height: 100%;
}
.projeto :hover{
    margin-bottom: 10px;
}
.contato{
    background:  #49495f;
    height: 100vh;
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contato .box, span{
    display: flex;
    flex-direction: column;
    font-size: 20pt;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.redes .box{
    display: flex;
    gap: 100px;
}
.redes img{
    width: 150px;
    height: 150px;
}
.redes img:hover{
    margin-bottom: 10px;
}
footer{
    background: rgba(0, 0, 0, 0.521);
    height: 200px;
}
footer h2{
    text-align:center;
    padding-top: 80px;
    color: white;
}
@media(max-width: 600px){
    header ul li a{
        font-size: 10pt;
        
    }
   
}