body{
    background: linear-gradient(to left, rgb(250, 83, 83),rgb(113, 113, 247));
}
form{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}
fieldset{
    width: 300px;
    height: 500px; 
    border-radius: 15px;
    border: 5px solid white;
    background: rgba(255, 255, 255, 0.082);
}
label{
    display: flex;
    text-align: end;
    padding-bottom:10px;
}
input{
    border-radius: 8px;
    border: 1px solid black;
    width: 190px;
    height: 20px;
}
legend{
    border: 1px solid white;
    background: white;
    border-radius: 5px;
}
.input-genero{
    display: inline-block;
    border-left: 5px solid;
    border-radius: 5px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.329)   ;
}
.input-genero label{
    display: inline-block;
}
.input-genero input{
    width: 50px;   
}
.btn-cadastro{
    position: relative;
    top: 40px;
    width: 100px ;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    background: white;
}
.btn-cadastro:hover{
    background: rgba(100, 1, 1, 0.295);
}
