
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Staatliches&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Anton';
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, rgb(250, 83, 83),rgb(113, 113, 247));
}
.ico{
    width: 80px;
    height: 80px;
}
header{
  display: flex;
  justify-content: space-between;
}
header h1{
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.login{
    display: flex;
    padding-right: 50px;
    padding-top: 20px;
    gap: 20px;
}
.login a{
    font-size: 14pt;
    height: 20px;
    text-decoration: none;
    color: black;
}
.login a:hover{
    color: black;
    border-bottom: 5px solid;
    padding-bottom: 30px;

}
.redes img{
    width: 80px;
    height: 80px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.text{
    padding-top: 50px;
    text-align: center;
    font-size: 16pt;
    width: 600px;
    height: 300px;
    background: rgba(233, 233, 233, 0.356);
    border-radius: 15px;
}
.nav{
    display: flex;
    gap: 80px;
   
}
.nav a:hover{
    padding-top: 10px;
    border-bottom: 5px solid;
    color: black;
}
.nav a img{
    width: 100px;
    height: 100px;
}
.nav a:hover{
    background:rgba(0, 0, 0, 0.219);
    border-radius: 15px;
}
.nav a:nth-child(1)::after{
    content: 'Contato';
    color: black;
}
.nav a:nth-child(2)::after{
    content: 'Loja';
    color: black;
}
.nav a:nth-child(3)::after{
    content: 'Customizado';
    color: black;
}



