body{
    background: linear-gradient(to left, rgb(250, 83, 83),rgb(113, 113, 247));
}
h1{
    font-size: 30pt;
    text-align: center;
    
}
.container, .box{
    display: grid;
    place-content: center;
    
}
.box{
    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}
.redes ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 30px;
}
.redes, img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.redes img:hover{
    background: rgba(0, 0, 0, 0.301);
    border-radius: 10px;
}
a{
    color: black;
}