.menu{
    display: none;
}
.activity{
    display: flex;
    width: 50%;
    position: absolute;
    right: 20px;
    top: 50px;
    border-radius: 15px;
    height: 50vh;
    background: dodgerblue;
    z-index: 10;
    flex-direction: column;
}
.activity li{
    margin-right: 25px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: -13px;
    border-radius: 5px;
}
.activity li:hover{
    background: rgba(0, 0, 0, 0.293);
}
@media(max-width:450px){
    .menu{
        display: flex;
        width: 50px;
        height: 40px;
        flex-direction: column;
        justify-content: space-between;
        top: 20px;
        right: 20px;
        position: fixed;
        z-index: 2;
    }
    .menu span{
        display: flex;
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background: white;
    }
    header ul{
        display: none;
    }
}