a{
    color: white;
    text-decoration: none;
}
.projects{
    width: 90vw;
    height: 90vh;
    position: relative;
    right: 2000px;
    transition: .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: column;
    background: dodgerblue;
    height: 400px;
    width: 300px;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;

}
.tags{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;

}
.tag{
    width: auto;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 10px;
}
.boxDisplay{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
@media(max-width:1248px){
    .boxDisplay{
        justify-content: start;
    }
}
@media(max-width:810px){
    .boxDisplay{
        justify-content: center;
    }
    .box{}
}