.main{
    display: flex;
    width: 100%;
    height: 80vh;
    margin-top: 5%;
    justify-content: space-around;
}
.historico,.res,.pay{
    width: 20%;
    height: 80%;
    background: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: hidden;
}
button{
    width: 100%;
    background: rgb(67, 124, 182);
    height: 40px;
    font-size: 20pt;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
button:hover{
    color: white;
    border: white 1px solid;
}
.disable{
    display: none !important;
}
.home{
    width: 80%;
    height: 60vh;
    background: rgb(56, 107, 201);
    border-radius: 5px ;
}
.homeCat{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 70vh;
    background: white;
    overflow: scroll;
    border-radius: 10px;
    border: 1px solid black;
    align-items: flex-start;
}
.itens{
    width: 128px;
    height: 128px;
    background: rgb(43, 34, 34);
    margin: 10px;
    border-radius: 10px;
}
.itens a img{
    width: 100%;
    height: 100%;
}
.produto-ui{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 70vh;
    background: rgb(76, 141, 194);
    border-radius: 10px;
    border: 1px solid black;
}
.produto-ui input{
    width: 200px;
    height: 40px;
    background: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    outline: none;
}
.produto-ui input:hover{
    border: 1px solid white;
}
.produto-ui button{
    margin-top: 50px;
}
input[type="file"]{
    display: none;
}
.file{
    display: flex;
    width: 20%;
    height: 25%;
    background: dodgerblue;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.file div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 100pt;
    color: white;
    width: 100%;
    height: 100%;
   
}
.file div:hover{
    color: rgb(245, 237, 237);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.fileSubmit{
    width: 50%;
}


